[submodule "anydesk"]
	path = anydesk
	url = https://aur.archlinux.org/anydesk.git
[submodule "dropbox"]
	path = dropbox
	url = https://aur.archlinux.org/dropbox.git
[submodule "preload"]
	path = preload
	url = https://aur.archlinux.org/preload.git
[submodule "sublime-text-dev"]
	path = sublime-text-dev
	url = https://aur.archlinux.org/sublime-text-dev.git
