[submodule "anydesk"]
	path = anydesk
	url = https://aur.archlinux.org/anydesk.git
[submodule "dropbox"]
	path = dropbox
	url = https://aur.archlinux.org/dropbox.git
[submodule "preload"]
	path = preload
	url = https://aur.archlinux.org/preload.git
